/* Transition du fond */
body {
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Mode clair (par défaut) */
body.lightmode {
    background-color: white;
    color: black;
}

/* Mode sombre */
body.darkmode {
    background-color: #121212;
    color: white;
}
